<h1>Eat-Da-Burger</h1>
<br> <br>

<img src="assets/img/burger.png" alt="cartoon cheeseburger" style="width:400px;height:300px;">
<br><br>

<div id="full_to_eat">
  <h2>Burgers to eat...</h2>

  <ul id="to_eat">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block eaten=true}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div id="full_eaten">
  <h2>Burgers eaten...</h2>


    <ul id="eaten">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block eaten=false}}
        {{/if}}
      {{/each}}
    </ul>
</div>

<div id="add_burger">

  <h2>Add a burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <button type="submit">Add Burger</button>
    </form>
</div>