h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: orange;
}

#container{
    width: 500px;
    margin: auto;
    padding: 200px;
}

#eaten{
    list-style: none;
    float: left;
}

#to_eat{
    list-style: none;
    float: left;
}

#full_to_eat{
    float: left;
}

#full_eaten{
    float: left;
}

#add_burger{
    clear: both;
}

